/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #ffffff;
    width: 870px;
    height: 679px;
    padding: 30px 30px;
    margin-top: 30px;
}




/* Top Players Style */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;

}

.section-title {
    color: #562EFF;
    font-size: 24px;
    line-height: 36px;
    margin-top: 3px;

}

.top-players {
    margin-bottom: 30px;
}

.player {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 27px;

}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 18px;
}

hr {
    border: 1px solid #D1D1D1;
}